  .card{
    width: 18rem;
  }

  body{
    background-color: #0C090A;
    background-image: url("../images/woods.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-clip: border-box;
    backface-visibility: visible;
    font-family: sans-serif;
    color: rgb(96, 186, 205);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    text-align: center;
    margin 3%;
    font-family: play;
    font-size: 25px;
  }


#myPic img {
  max-width: 800px;
  max-height: 800px;
}

.logo img{
  max-width: 200px;
  max-height: 200px;
}

.projectim img{
  max-width: 400px;
  max-height: 400px;
}

div {
  margin-top:10px;
  margin-bottom: 10px;
}
