  body{
    background-color: #0C090A;
    background-image: url("../images/gear.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-clip: border-box;
    backface-visibility: visible;
    font-family: sans-serif;
    color: #c7c7c7;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    text-align: center;
    margin 3%;
    font-family: play;
    font-size: 20px;
  }


#myPic img {
  width: 300px;
  height: 300px;
}

.logo img{
  max-width: 150px;
  max-height: 150px;
}

.projectim img{
  max-width: 250px;
  max-height: 250px;
}

div {
  margin-top:10px;
  margin-bottom: 10px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

footer {
  font-size: 30px;
}

.list-group-item {
  background-color: rgba(0, 0, 0, 0.0);
}

.black a{
  /* text-decoration: none; */
  color: inherit;
}
